@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Medium.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}


.viewer-block {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.viewer-block__header {
    font-size: 14vw;
    font-weight: 400;
    font-family: 'Graphik';
    text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px, #533d4a 4px 4px, #533d4a 5px 5px, #533d4a 6px 6px;
    color: #e55643;
}

.viewer-block__item {
    display: inline-block;
    /* transition: 0.2s; */
}

.header__logo {
    width: 70px;
}

.header__logo img {
    width: 100%;
}