* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

html {
    font-size: 0.83755vw;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Open Sans';
    position: relative;
    color: #333333;
    max-width: 100%;
    padding-top: 5.8rem;
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    background-color: #fff;
}

.wrapper {
    width: 100vw;
    height: calc(100vh - 5.8rem);
    overflow-x: hidden;
    overflow-y: auto;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
}

li {
    list-style-type: none;
}

.button {
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #256192;
    border-radius: 4px;
    display: inline-block;
    padding: 1.6rem 3.4rem;
    cursor: pointer;
    font-weight: bold;
}

.list {
    padding-left: 3rem;
}

.list__item {
    position: relative;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0;
    margin: 0.6rem 0;
}

.list__item::after {
    content: '';
    display: block;
    position: absolute;
    left: -8px;
    top: 0.6rem;
    width: 4px;
    height: 4px;
    background-color: #333333;
    border-radius: 50%;
}

.list__item_blue::after {
    background-color: #0084CE;
}

.link {
    color: #0084CE;
    text-decoration: underline;
    letter-spacing: 0;
    font-weight: 600;
}

.container {
    padding: 0 8.6rem;
}

.container_content {
    padding: 6.5rem 8.6rem;
}

.container_sm {
    padding: 0 6rem;
}

.text {
    font-weight: 400;
}

.text_med {
    font-weight: 600;
}

.text_bold {
    font-weight: 700;
}

.text_up {
    text-transform: uppercase;
}

.text_center {
    text-align: center;
}

.text_xl {
    font-size: 3.2rem;
}

.text_lg {
    font-size: 2.6rem;
}

.text_md {
    font-size: 2.2rem;
}

.text_sm {
    font-size: 1.8rem;
}

.text_s {
    font-size: 1.6rem;
}

.text_pink {
    color: #EB008B;
}

.text_white {
    color: #fff;
}

.text_blue {
    color: #002D5C;
}

.text_mb10 {
    margin-bottom: 1rem;
}

.text_mb20 {
    margin-bottom: 2rem;
}

.text_mb50 {
    margin-bottom: 5rem;
}

.text_ls0 {
    letter-spacing: 0;
}

.mx800 {
    max-width: 80rem;
}

.text-img {
    width: 100%;
    max-width: 50rem;
}

.text-img_right {
    float: right;
    margin-left: 2rem;
}

.text-img_left {
    float: left;
    margin-right: 2rem;
}

.clear {
    clear: both;
}

.title {
    padding-bottom: 2rem;
    position: relative;
}

.title::before {
    content: '';
    display: block;
    position: absolute;
    width: 6rem;
    height: 0.5rem;
    left: 0;
    bottom: 0;
}

.title_blue {
    color: #002D5C;
}

.title_blue::before {
    background-color: #002D5C;
}

.title_pink {
    color: #EB008B;
}

.title_pink::before {
    background-color: #EB008B;
}

.section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: calc(100vh - 5.8rem);
    width: 100%;
}


.logo {
    text-align: center;
    font-size: 3rem;
}

.logo img {
    width: 47.8vw;
    margin-bottom: 1.4vw;
}

.logo_c {
    position: absolute;
    left: 50%;
    top: 54.5%;
    transform: translate(-50%, -50%);
}

.main-banner {
    min-height: 50rem;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.main-banner__text {
    max-width: 68.5rem;
}






/* ==================================header======================================= */


.header {
    background: transparent;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.header__top {
    background: #002D5C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100vw;
    height: 5.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__top-btn {
    width: 2.4rem;
    height: 1.4rem;
    background-image: url('../img/icons/arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.header__top-btn_act {
    transform: scale(-1);
}

.header__bottom {
    display: none;
    background-color: #256192;
    border-radius: 0 0 10px 10px;
}

.header__menu {
    padding: 3.2rem 2.4rem;
}


/* ==================================footer======================================= */


.footer {
    width: 100%;
    background: #256192;
    height: 4rem;
}

.footer__wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.footer__home {
    width: 1.8rem;
    height: 1.6rem;
    background-image: url('../img/icons/home.svg');
    background-size: cover;
}


/* ==================================menu======================================= */


.menu {
    display: flex;
    justify-content: space-between;
}

.menu__block {
    margin-right: 3rem;
    position: relative;
    width: 100%;
    letter-spacing: 0;
}

.menu__block::before {
    content: '';
    display: block;
    position: absolute;
    background: #C5C5C5;
    width: 3px;
    height: 4.4rem;
    bottom: -7px;
    right: -1.3vw;
}

.menu__block:last-of-type::before {
    display: none;
}

.menu__block:last-child {
    margin-right: 0;
}

.menu__text {
    display: inline-block;
    width: 100%;
}

.menu__elem-img {
    height: 5rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1.5rem;
}


/* ==================================article======================================= */


.article {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.article__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: -6rem;
    width: 100%;
}

.article__item {
    margin: 0 0 6rem 0;
    width: calc(50% - 1rem);
}

.article__item:nth-child(2n) {
    margin-right: 0;
}

.article__item-top {
    width: 100%;
    height: 20.5rem;
    background-size: cover;
    margin-bottom: 3rem;
    position: relative;
}

.article__item-text {
    position: absolute;
    background-color: rgba(0, 132, 206, 0.8);
    bottom: 0;
    left: 0;
    padding: 1.5rem 2rem;
    width: 100%;
    display: flex;
    align-items: center;
}


/* ==================================source======================================= */

.source {
    background: #F2F2F2;
    padding: 3.6rem 0 6.6rem;
}

.source__title {
    display: flex;
    align-items: center;
    margin-bottom: 1.2rem;
}

.source__title::before {
    content: '';
    display: inline-block;
    width: 1.6rem;
    height: 2rem;
    background-image: url('../img/icons/folder.svg');
    margin-right: 0.7rem;
}


/* ==================================video======================================= */


.video {
    padding: 5rem 0;
    background: #0084CE;
    width: 100%;
}

.video iframe {
    width: 74rem;
    height: 42rem;
    margin: 0 auto;
    display: block;
}


/* ==================================catalog======================================= */

.catalog {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    min-height: calc(100vh - 9.8rem);

}

.catalog__header {
    background: #EB008B;
    padding: 1rem 1.5rem;
    margin-bottom: 2.8rem;
    width: 100%;
}

.catalog__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -1.8rem;
}

.catalog__item {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    width: 52.7rem;
    min-height: 26.4rem;
    display: flex;
    padding: 0 2.5rem 0 1.5rem;
    margin: 0 1.8rem 1.8rem 0;
}

.catalog__item:nth-child(2n) {
    margin-right: 0;
}

.catalog__img {
    align-self: center;
    flex-shrink: 0;
    padding: 2rem 0;
}

.catalog__text {
    align-self: flex-start;
    margin: 4rem 0;
}


/* ==================================card======================================= */

.card {
    display: flex;
}

.card__title {
    margin: 2rem 0 4rem;
}

.card__table {
    width: 100%;
    text-align: left;
    border-spacing: 0;
    margin: 3rem 0 1.6rem;
}

.card__table th {
    font-weight: 600;
    font-style: italic;
}

.card__table tbody tr:nth-of-type(2n + 1) {
    background: #FDDEED;
}

.card__table th,
td {
    height: 3rem;
    padding: 0 1rem;
}

.card__img {
    width: 48.8rem;
    flex-shrink: 0;
}


/* ==================================grid======================================= */


.grid {
    display: flex;
    padding-top: 4rem;
    padding-bottom: 7rem;
    justify-content: space-between;
}

.grid__left {
    width: 100%;
    max-width: 40rem;
}

.grid__right {
    width: 100%;
    max-width: 55rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: flex-start;
}

.grid__block {
    background: #F4F4F4;
    border-radius: 4px;
    padding: 2.5rem;
    width: 26.5rem;
    margin-bottom: 2rem;
}

.grid__block_cont {
    padding-left: 7rem;
    padding-right: 1.5rem;
    position: relative;
}

.grid__block_cont>img {
    position: absolute;
    left: 2rem;
    top: 3rem;
    width: 3.6rem;
}

.grid__block_big {
    width: 55rem;
}

.grid__block strong {
    color: #EB008B;
}

.grid__wrap {
    padding: 3rem 5rem;
}